#*
Expected parameters:
  labelCode - label used in message.properties to display as title
  modelName - name of the bean
  fields    - array of fields to be displayed in the model
*#
<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core_rt"%>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jstl/fmt_rt"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="ot" uri="http://www.ideyatech.com/tides"%>

#set( $numCols = ${fields.size()} + 1 )
<td colspan="${numCols}">
<form:form commandName="${modelName}" id="${formName}-form-${${modelName}.id}" action="">
	<ot:form_title isNew="${${modelName}.isNew}" formName="${formName}"/>
	<div class="content">	
		<spring:bind path="${modelName}.*">
		<c:if test="${status.error}">
			<div class='errorBox'>
				<!-- this is a hack to crud.js to handle validation messages. -->
				<c:if test="${${modelName}.isNew}">
				<!-- <tr id="${prefix}-row-new" -->
				</c:if>
				<form:errors path="*" />
            </div>
		</c:if>
		</spring:bind>
		<div class='fieldsBox'>
#foreach( $field in $fields )
	#if ( $field.isRequiredField == "true" )
		#set ($isRequiredField = "true")
		#set ($containsRequiredField = "true" )
	#else
		#set ($isRequiredField = "false")
	#end
	#parse("${fieldTemplatePath}${field.fieldType}-form.inc_.vm")
#end
		</div>
		#if ( $containsRequiredField == "true" )
<div class="requiredInfo">
			<sup class="required">*</sup> Indicates required field.
		</div>
		#end
		<div class="button">
		  	<ot:submit_button id="${${modelName}.id}" page="${formName}.jspx" formName="${formName}-form-${${modelName}.id}" prefix="${prefix}"/>
  			<ot:cancel_button id="${${modelName}.id}" page="${formName}.jspx" prefix="${prefix}"/>
		</div>
	</div>
</form:form>
</td> 