Thank you for contacting us to set your password. 

You can click on the link below to confirm change of your password.
${link}

This link is valid for ONE USE ONLY and will EXPIRE 24 HOURS from the time it was issued.
If your Authorization Code expires or if it becomes invalid and you require a new one.

If you have problems with the link above, you can also go to 
http://chest.ideyatech.com/hotelpoint/confirm-password-reset 
and enter the following information:

Email Address : ${address}
Confirmation code :	${confirmationCode}

Thanks!
Support Group