package resources.java;

/**
 * This is a test.
 * @author allantan
 */
public class Test1 {

	// inline comment 1
	private static final String test1 = "This is a sample string";

	// inline comment 2
	private static final String test2 = "This is a another, \"sample\";string";
	private static final String test3 = "This is " + "a \"sample\" concatenated string";

	// inline comment 3
	// inline comment 4
	private int test4 = 128+12;
	
	/**
	 * @return the test
	 */
	public static final String getTest() {
		return test1;
	}
	/**
	 * @return the test2
	 */
	public static final String getTest2() {
		return test2;
	}
}