@charset "UTF-8";

/* CSS Document */
body,input {
	font: normal 12px Tahoma;
	color: #555;
}

body {
	background: url(images/bg-nav.jpg) repeat-x;
	height: 110px;
}

a {
	color: #2a6fb4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul.nav li a {
	color: #fff;
	text-decoration: none;
}

ul.nav li a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.wrapper {
	background: url(images/bg-nav.jpg) repeat-x;
	height: 64px;
	float: left;
}

.container {
	margin: 0 0 2em 0;
}

.required {
	color: red;
	font-weight: bold;
}

/* HD */
.logo {
	float: left;
	margin: 0.5em 0 0 2em;
}

ul.hd-list {
	color: #2A6FB4;
	margin: 3em 0 0;
	float: right;
}

ul.hd-list li {
	display: inline;
	margin: 0 0.25em;
}

.index-spacer {
	margin: 0 0 4.5em;
}

.nav-wrapper {
	margin: 1.15em 0 2.15em 0;
	padding: 0 0 0 2em;
}

ul.nav li {
	color: #FFFFFF;
	padding: 0 0.5em;
	display: inline;
}

hr.broad {
	margin: 2em 0 2em 0;
	border: solid thin #2a6fb4;
}

/* BD */
.main {
	padding: 2em 0;
	border: solid 1px #2a6fb4;
	clear: both;
	position: relative;
	top: -1px;
}

.title-wrapper {
	background-color: #2a6fb4;
	width: 100%;
	height: 35px;
	margin: 0 0 2em;
}

.title {
	margin: 0 0 0 2em;
	float: left;
}

.title span {
	font: normal 25px Tahoma;
	color: #fff;
	position: relative;
	top: 2px;
}

.form-title {
	margin: 0 0 0 2em;
	height: 25px;
}

.form-title span {
	font: bold 14px Tahoma;
	color: #0;
	position: relative;
	top: 2px;
}

* html .title span {
	top: 27px;
}

.contents {
	margin: 0 2em;
}

.fieldsBox {
	clear: both;
	padding: 1em;
}

.requiredInfo {
	margin: -1em 0 1em;
}

/* TABLE STYLES */
.admin-table {
	border: solid 1px #2a6fb4;
}

.admin-table th,.admin-table td {
	border: none;
	border-bottom: solid 1px #2a6fb4;
}

.admin-table thead {
	color: #fff;
	background-color: #2a6fb4;
}

.admin-table tbody {
	background-color: #fff;
}

.row-style-0 {
	background-color: #ffffcc;
}

.admin-table th a {
	color: #fff;
	text-decoration: none;
}

.admin-table th a:hover {
	text-decoration: none;
}

/* LOGIN FORM */
.login {
	margin:0 auto 5em;
	position: relative;
	width:35%;
	top: 5em;
}
#loginForm label {
	width: 5.5em;
	text-align: right;
	margin: 0 1em 0 0;
	float: left;
}

#loginForm p {
	margin: 0 0 1em 0;
}

#loginForm input[type="text"],#loginForm input[type="password"] {
	width: 11.25em;
}

#loginForm input[type="submit"] {
	width: 7em;
}

#loginForm p.forgot-password {
	text-align: center;
}

/* PASSWORD RESET */
#passwordReset {
	margin-top: 2em;
}

#passwordReset label {
	width: 8em;
	text-align: right;
	margin: 0 1em 0 0;
	float: left;
}

#passwordReset input[type="submit"] {
	width: 7em;
	margin-top: 0.5em;
}

/* USER ADMINISTRATION */
.user .title {
	font-weight: bold;
	float: none !important;
	margin: 1em;
}

.user label {
	width: 8em;
	text-align: right;
	margin: 0 1em 0 0;
	float: left;
}

/* SYSTEM CODES */
#systemCodeSearch input,#systemCodeSearch select {
	margin: 0em 2em 0 0.5em;
}

/* ERROR MESSAGES */
.errorBox {
	background: url(images/icon-alert.jpg) #f8f5cf no-repeat 1em 0.5em;
	border: solid thin #b93646;
	color: #b93646;
	margin: 0 0 1em 0;
	padding: 1em 1em 1em 4.5em;
}

/* FT */
#ft p {
	color: #2a6fb4;
	text-align: center;
	padding: 1em 0 3em;
}

/* Autocomplete*/
#input_name {
	position: static;
}  /* to center, set static and explicit width: */
#listContainer {
	width: 20em;
	text-align: left;
	position: absolute;
}

#listContainer li {
	text-align: left;
	list-style-type: none;
}  /* to center, set left-align and explicit width: */
.input_name_ac {
	width: 20em !important;
}

.yui-ac-content li.yui-ac-highlight {
	background: #2A6FB4;
	color: #FFF;
}

/* styles for entire widget */
.yui-ac {
	position: relative;
	font-family: Tahoma;
	font-size: inherit;
}

input[class~="searchTextbox"] {
	width: 12.25em !important;
}

/* styles for input field */
.yui-ac-input {
	position: absolute;
	width: 100%;
}

/* styles for results container */
.yui-ac-container {
	position: absolute;
	top: 1.6em;
	width: 100%;
}

/* styles for header/body/footer wrapper within container */
.yui-ac-content {
	position: absolute;
	width: 100%;
	border: 1px solid #2A6FB4;
	background: #fff;
	overflow: hidden;
	z-index: 9050;
}

/* styles for container shadow */
.yui-ac-shadow {
	position: absolute;
	margin: .3em;
	width: 100%;
	background: #000;
	-moz-opacity: 0.10;
	opacity: .10;
	filter: alpha(opacity = 10);
	z-index: 9049;
}

/* styles for results list */
.yui-ac-content ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

/* styles for result item */
.yui-ac-content li {
	margin: 0;
	padding: 2px 5px;
	cursor: default;
	white-space: nowrap;
}

/* styles for prehighlighted result item */
.yui-ac-content li.yui-ac-prehighlight {
	background: #ffffcc;
}

.calendarTextInput {
	width:7em !important;
}

.containerDate {
	display:none; 
	position: absolute !important;
	top: 80px;
	left:265px;
	z-index:1;
}

.containerDate .title {
	float:none;
}
/*-------- Widgets --------*/

/*dashboard home page*/
.dashboard-column {
position: relative;
float: left;
min-height:300px;
height: auto;
width: 47%;
margin: 0 1em;
 	}
 	
.widget-box {
	border: solid 1px #2A6FB4;
	margin: 0 0 1em 0;
}

.tides-dd-handle {
	background-color: #2A6FB4;
	text-align: left;
	color: #fff;
	margin: 0 0 1em 0;
	padding: 0.35em;
	cursor: move;
}
#taskOverDueWidget.widget-box {
	border: solid 1px #CC0000;
}

#taskOverDueWidget .tides-dd-handle {
	background-color: #CC0000;
}

#add-stuff {
	position:relative !important;
	top: -2em;
}
#add-stuff .add-stuff-icon {
	float: right;
	background: url(images/widgets/addStuffLink.png) no-repeat;
	width: 122px;
	height: 34px;
}

#add-stuff .add-stuff-icon:hover {
	float: right;
	background: url(images/widgets/addStuffHover.png) no-repeat;
	width: 122px;
	height: 34px;
}    	
  	
a.widget-close,
a.widget-expand,
a.widget-collapse {
	margin: 0;
	position: relative;
	top: -2px;
	cursor:pointer;
}

a.widget-close {
	display: block;
	float: right;
	background: url(images/widgets/close.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 0.25em;
}

a.widget-close:hover {
	background: url(images/widgets/closeHover.png) no-repeat;
}

a.widget-expand {
	display: block;
	float: right;
	background: url(images/widgets/expand.png) no-repeat;
	width: 20px;
	height: 20px;
}

a.widget-expand:hover {
	background: url(images/widgets/expandHover.png) no-repeat;
}

a.widget-collapse {
	display: block;
	float: right;
	background: url(images/widgets/collapse.png) no-repeat;
	width: 20px;
	height: 20px;
}

a.widget-collapse:hover {
	background: url(images/widgets/collapseHover.png) no-repeat;
}
/*end dashboard home page*/


/*dashboard add stuff page*/
#widget {
	font: normal 13px "Myriad Pro",tahoma;
	color: #464646;
}

#widget-title {
	color: #4F6B00;
}

form#userWidgets {
	font-size: 12px;
}

table.widget_table {
	width: 100%;
	border: solid 1px #EEE;
	margin: 0 0 1em 0;
}

table.widget_table th {
	background-color:#CFE2F1;
	color:#464646;
	text-align: center;
}

table.widget_table th {
	border: solid 1px #EEE;
	padding: 0.5em;
}

table.widget_table td {
	border: solid 1px #EEE;
	padding: 1em;	
}	

table.widget_table td.widget_checkbox {
	width: 13%;
	text-align: center;
	text-transform: uppercase;
}

table.widget_table td.widget_name {
	text-align: center;
	width: 150px;
}

table.widget_table td.widget_description {
	vertical-align: top;
}		

table.widget_table td.widget_description .title {
	font: normal 16px "Myriad Pro",tahoma;
	color:#464646;
	text-decoration: underline;
	float:none;
}
/*end dashboard add stuff page*/