Thank you for contacting us to set your password. <br/>
<br/>
You can click on the link below to confirm change of your password.<br/>
${link}
<br/>
This link is valid for ONE USE ONLY and will EXPIRE 24 HOURS from the time it was issued.<br/>
If your Authorization Code expires or if it becomes invalid and you require a new one.<br/>
<br/>
If you have problems with the link above, you can also go to <br/>
${confirmUrl} and enter the following information:<br/>
<br/>
Email Address : ${address}<br/>
Confirmation code :	${confirmationCode}<br/>
<br/>
Thanks!<br/>
Support Group